@import 'mixins';

#destination-page {
	background-repeat: no-repeat;
	background-size: 100% 100%;

	@include mobile() {
		padding: 100px 24px 0px;

		background-image: url(/assets/destination/background-destination-mobile.jpg);

		text-align: center;
	}

	@include tablet() {
		padding: 140px 97px 58px;

		background-image: url(/assets/destination/background-destination-tablet.jpg);

		ui-planet-slider {
			text-align: center;
		}
	}

	@include desktop {
		padding: 212px 163px 118px;

		background-image: url(/assets/destination/background-destination-desktop.jpg);
	}

	.main-destination-content {
		display: flex;
		width: 100%;

		@include mobile() {
			flex-direction: column;
			align-items: center;
		}

		@include desktop() {
			&__column {
				max-width: 1100px;
				margin: auto;
			}
		}
	}



	.planet-img {
		@include mobile() {
			width: 170px;
			height: 170px;

			margin-top: 32px;
		}

		@include tablet() {
			width: 300px;
			height: 300px;
		}

		@include desktop() {
			width: 445px;
			height: 445px;
		}
	}
}
