@import 'mixins';

#crew-page {
	background-repeat: no-repeat;
	background-size: 100% 100%;

	@include mobile() {
		padding: 100px 24px 0px;

		background-image: url(/assets/crew/background-crew-mobile.jpg);

		text-align: center;
	}

	@include tablet() {
		padding: 140px 97px 58px;

		background-image: url(/assets/crew/background-crew-tablet.jpg);

		ui-planet-slider {
			text-align: center;
		}
	}

	@include desktop {
		padding: 212px 163px 118px;

		background-image: url(/assets/crew/background-crew-desktop.jpg);
	}
}

.title {
	margin-bottom: 32px;
}
