:host {
	position: fixed;
	top: 0px;
	left: 0px;

	display: block;

	width: 100%;
}

.header {
	display: flex;
	align-items: center;

	ui-logo {
		margin-right: 10px;
	}

	@media (max-width: 575px) {
		ui-logo {
			margin-top: 24px;
			margin-left: 24px;
		}

		&__nav {
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
	}

	@media (min-width: 576px) {
		ui-logo {
			margin-top: 24px;
			margin-left: 39px;
		}

		&__nav {
			margin-left: auto;
		}
	}

	@media (max-width: 768) {
		&__logo {
			margin: 24px 0px 0px 24px;
		}
	}

	@media (min-width: 769px) {
		padding-top: 40px;

		&__logo {
			margin-left: 55px;
		}
	}

	@media (min-width: 1025px) {
		ui-logo {
			margin-top: 0px;
		}

		&::after {
			content: '';
			position: absolute;
			left: 167px;

			background-color: rgba(var(--white-r), 0.25);
			width: 473px;
			height: 1px;
		}
	}
}
