:root,
::before,
::after {
	--dark-blue-h: #0b0d17;
	--dark-blue-r: 11, 13, 23;
	--dark-blue-s: 230°, 35%, 7%;

	--purple-light-h: #d0d6f9;
	--purple-light-r: 208, 214, 249;
	--purple-light-s: 231°, 77%, 90%;

	--white-h: #ffffff;
	--white-r: 255, 255, 255;
	--white-s: 0°, 0%, 100%;
}
