:host {
	display: block;
	user-select: none;
}

.nav-item {
	display: flex;
	align-items: center;
	gap: 11px;

	padding-block: 39px;

	cursor: default;

	@media (min-width: 576px) {
		justify-content: center;

		border-bottom: 3px solid transparent;
	}

	@media (max-width: 575px) {
		// justify-content: flex-start;

		&:not(.nav-item--bottom) {
			border-right: 3px solid transparent;
			padding-block: 6px;
		}

		&:is(.nav-item--bottom) {
			border-bottom: 3px solid transparent;
			padding-block: 8px;
		}
	}

	@media (max-width: 768px) and (min-width: 576px) {
		&__number {
			display: none;
		}
	}

	&:hover {
		border-color: rgba(var(--white-r), 0.5);
	}

	&--center {
		justify-content: center;
	}

	&--active {
		border-color: var(--white-h) !important;
	}
}
