#home-page {
	display: flex;
	align-items: center;

	background-repeat: no-repeat;
	background-size: 100% 100%;

	@media screen and (max-width: 768px) {
		flex-flow: column nowrap;
	}

	@media (max-width: 575px) {
		background-image: url(/assets/home/background-home-mobile.jpg);
	}

	@media (min-width: 576px) and (max-width: 768px) {
		background-image: url(/assets/home/background-home-tablet.jpg);
	}

	@media (min-width: 769px) {
		background-image: url(/assets/home/background-home-desktop.jpg);
	}

	.main-content {
		@media screen and (min-width: 769px) {
			flex: 1;

			// margin: 387px 0px 0px 165px;
			margin: 15% 0px 0px 165px;
		}

		@media screen and (max-width: 768px) {
			margin-top: 112px;
			padding-inline: 24px;

			text-align: center;
		}

		&__title {
			margin-bottom: 24px;
		}

		&__text {
			max-width: 450px;
			line-height: 32px;
		}
	}

	@media screen and (min-width: 769px) {
		.main-button {
			align-self: flex-end;
			margin-right: 77px;
			margin-bottom: 50px;
		}
	}

	@media screen and (max-width: 768px) {
		.main-button {
			margin-top: 24px;
		}
	}
}
